---
http_interactions:
- request:
    method: get
    uri: https://weworkremotely.com/categories/2/jobs.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6348aeec921d066a8ba6e6057a5c53d6"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        version=\"2.0\">\n  <channel>\n    <title>Recent Programming Jobs</title>\n
        \   <link>https://weworkremotely.com/categories/2/jobs.rss</link>\n    <description>Recent
        Jobs posted to the Programming category on We Work Remotely</description>\n
        \   <language>en-US</language>\n    <ttl>60</ttl>\n    <item>\n      <title>Kaleo
        Software: Senior Software Engineer</title>\n      <description>&lt;img alt=&quot;Resized_logo&quot;
        src=&quot;https://dge9rmgqjs8m1.cloudfront.net/wwr_s3/logos/0000/1702/logo.gif/resized_logo.png?r=3&quot;
        /&gt;\n\n&lt;p&gt;\n  &lt;strong&gt;Location:&lt;/strong&gt; Los Angeles,
        CA\n    &lt;br /&gt;&lt;strong&gt;URL:&lt;/strong&gt; &lt;a href=&quot;http://www.kaleosoftware.com/&quot;&gt;http://www.kaleosoftware.com/&lt;/a&gt;\n&lt;/p&gt;\n\n&lt;div&gt;Hi
        there! We (Kaleo) [...]
